aws_profile       = "uplift-dev"
aws_region        = "us-east-1"
admin_api_domain  = "admin-api.upliftai.co"
github_repository = "CodepaperAI/uplift-admin-backend"
github_oidc_subject = "repo:CodepaperAI@267714447/uplift-admin-backend@1345392511:environment:production"
github_environment = "production"
